# Python bytecode
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings (if any)
.vscode/

# System files
.DS_Store
Thumbs.db

# Checkpoints, downloads, and model outputs
checkpoints/*
downloads/*
models/*
mpnet/*
best_bart_model/*
rag_custom_trained_final_v3/*


# Other temporary files
*.log
*.tmp
wandb/
